# backend folder
/backend/node_modules
/backend/dist
/backend/coverage
/backend/config.env
/backend/data/products


# frontend folder
/frontend/node_modules
/frontend/dist
/frontend/coverage
/frontend/config.env

# mobile folder
/mobile/node_modules
/mobile/config.env
# /mobile/node_modules/
# /mobile/.expo/
# /mobile/dist/
# /mobile/npm-debug.*
# /mobile/*.jks
# /mobile/*.p8
# /mobile/*.p12
# /mobile/*.key
# /mobile/*.mobileprovision
# /mobile/*.orig.*
# /mobile/web-build/