# backend folder
/backend/node_modules
/backend/dist
/backend/coverage
/backend/config.env
/backend/data/products


# frontend folder
/frontend/node_modules
/frontend/dist
/frontend/coverage
/frontend/config.env

# mobile folder
/mobile_app/node_modules
/mobile_app/config.env
/mobile_app/android
/mobile_app/app.json
/mobile_app/codes
/mobile_app/android/build.gradle


